@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('OpenSans-SemiBold'), url(../fonts/OpenSans-SemiBold.ttf) format('ttf');
}
